# --------------------
# Rust/Cargo
# --------------------
/target/
**/*.rs.bk
**/*.rs~

# Cargo.lock (geralmente não ignorado em bibliotecas)
Cargo.lock

# --------------------
# IDEs
# --------------------
.vscode/
.idea/
*.iml

# --------------------
# Environment
# --------------------
.env
.env.*
..env.*

# --------------------
# CLI / Executáveis
# --------------------
*.exe
*.dll
*.pdb
*.so
*.dylib
*.log
*.out
*.tmp

# --------------------
# Arquivos adicionais
# --------------------
*.un
*.un~
*.psw

# --------------------
# Arquivos temporários do Vim
# --------------------
*.swp
*.swo
*.swn
*~
.*.sw?
.nvim*

# --------------------
# Outros
# --------------------
.DS_Store
Thumbs.db
